<section id="cookieConsentBanner" class="fixed max-w-md p-4 mx-auto bg-white border border-gray-200 dark:bg-gray-800 left-12 bottom-16 dark:border-gray-700 rounded-2xl" style="display: none;">
    <h2 class="font-semibold text-gray-800 dark:text-white">{{ i18n "cookieConsent.title" }}</h2>

    <p class="mt-4 text-sm text-gray-600 dark:text-gray-300">{{ i18n "cookieConsent.message" }} <a href="#" class="font-medium text-gray-700 underline transition-colors duration-300 dark:hover:text-blue-400 dark:text-white hover:text-blue-500" id="cookieChoose">{{ i18n "cookieConsent.moreInfo" }}</a></p>
    
    <div class="grid grid-cols-2 gap-4 mt-4 shrink-0">
        <button id="cookieAcceptAll" class="text-xs bg-gray-900 font-medium rounded-lg hover:bg-gray-700 text-white px-4 py-2.5 duration-300 transition-colors focus:outline-none">
            {{ i18n "cookieConsent.accept" }}
        </button>

        <button id="cookieRejectAll" class="text-xs border text-gray-800 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 font-medium rounded-lg px-4 py-2.5 duration-300 transition-colors focus:outline-none">
            {{ i18n "cookieConsent.reject" }}
        </button>

        <button style="display:none" id="cookiePreferences" class="text-xs border text-gray-800 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 font-medium rounded-lg px-4 py-2.5 duration-300 transition-colors focus:outline-none">
            {{ i18n "cookieConsent.preferences" }}
        </button>

        <button id="cookieClose" class="text-xs border text-gray-800 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 font-medium rounded-lg px-4 py-2.5 duration-300 transition-colors focus:outline-none">
            {{ i18n "cookieConsent.close" }}
        </button>
    </div>
</section>
