// Add your own custom styles here

.navbar-brand img {
    width: 100%;
    max-width: 400px;
    min-width: 230px;
    height: auto;
  }

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
  
@media (max-width: 768px) {
    .navbar-brand img {
      width: auto;
      max-height: 40px;
    }
    
    .navbar-toggler {
      margin-left: auto;
    }
  }


@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-brand img {
      width: 100%;
      max-width: 380px;
    }
  }
    

  .footer-brand img {
    width: 100%;
    max-width: 230px;
    height: auto;
    margin-right: 2rem;
  }

/* Sicherstellen, dass der Container sichtbar ist */
.diff-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Erzwingt ein Seitenverhältnis */
  overflow: hidden;
}

/* Clip für das zweite Bild */
.diff-after {
  clip-path: inset(0 calc(50%) 0 0); /* Startet bei der Hälfte */
}

/* Light-Mode */
.chart canvas {
  --chart-grid-color: rgba(160, 160, 160, 0.2);
}

/* Dark-Mode */
.dark .chart canvas {
  --chart-grid-color: rgba(255, 255, 255, 0.2);
}

