<footer class="bg-theme-light dark:bg-darkmode-theme-dark">
  <div class="container">
    <div class="flex flex-col items-start lg:flex-row lg:justify-between py-10 space-y-8 lg:space-y-0">
      <div class="lg:w-1/4">
        <!-- navbar brand/logo -->
        <a class="footer-brand inline-block" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:w-1/2 items-center">
        <div class="inline-grid grid-cols-2 md:grid-cols-3 gap-8">
          {{ range site.Menus.footer }}
            {{ if .HasChildren }}
            <div>
              <h6 class="mb-2">
                <a
                  {{ if findRE `^http` .URL }}
                    target="_blank" rel="noopener"
                  {{ end }}
                  href="{{ if findRE `^#` .URL }}
                    {{ if not $.IsHome }}
                      {{ site.Home.RelPermalink }}
                    {{ end }}{{ .URL }}
                  {{ else }}
                    {{ .URL | relLangURL }}
                  {{ end }}"
                  >{{ .Name }}</a>
              </h6>
              <ul class="space-y-0.5">
                {{ range .Children }}
                  <li>
                    <a
                  {{ if findRE `^http` .URL }}
                    target="_blank" rel="noopener"
                  {{ end }}
                  href="{{ if findRE `^#` .URL }}
                    {{ if not $.IsHome }}
                      {{ site.Home.RelPermalink }}
                    {{ end }}{{ .URL }}
                  {{ else }}
                    {{ .URL | relLangURL }}
                  {{ end }}"
                  >{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        {{ end }}
        </div>
      </div>
      <div class="lg:w-1/4 justify-items-end">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>
</footer>
